@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
#game {
  background-image: url(/css/imgs/skye.png);
  background-size: cover;
  height: 900px;
  width: 100%;
}

body {
  font-family: "Bungee", sans-serif;
  font-size: 1.6rem;
  color: #7843e6;
  text-align: center;
  background-color: #222327;
}

h1 {
  font-size: 5.4rem;
  text-shadow: 5px 0px 10px rgba(0, 255, 255, 0.82);
}

h2 {
  font-size: 3rem;
  text-shadow: 5px 0px 10px rgba(0, 255, 255, 0.82);
}

#dino {
  width: 50px;
  height: 50px;
  background-color: #7843e6;
  border: 1px solid white;
  position: absolute;
  bottom: 180px;
}

#enemy {
  display: inline-block;
  position: absolute;
  bottom: 180px;
  right: 1px;
  height: 0;
  width: 0;
  border-right: 29px solid transparent;
  border-bottom: 50px solid red;
  border-left: 29px solid transparent;
}

#ground {
  height: 201px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(/css/imgs/ground.png);
}
