@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
body {
  background-image: url(/css/imgs/skye.png);
  background-size: cover;
  font-family: "Bungee", sans-serif;
  font-size: 1.6rem;
  color: #7843e6;
  text-align: center;
  background-color: #222327;
  height: 900px;
  width: 100%;
}

h1 {
  font-size: 5.4rem;
  text-shadow: 5px 0px 10px rgba(0, 255, 255, 0.82);
}

h2,
#highscore {
  font-size: 3rem;
  text-shadow: 5px 0px 10px rgba(0, 255, 255, 0.82);
}

#game {
  display: none;
}

#dino {
  width: 102px;
  height: 110px;
  background-image: url(/css/imgs/grr.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 180px;
  left: 100px;
  animation: dino 0.5s steps(3) infinite;
}

@keyframes dino {
  0%,
  100% {
    background-image: url("/css/imgs/grr.png");
  }
  33.33% {
    background-image: url("/css/imgs/grr2.png");
  }
  66.66% {
    background-image: url("/css/imgs/grr3.png");
  }
}

.obstacle {
  display: inline-block;
  position: absolute;
  bottom: 180px;
  right: 1px;
  height: 0;
  width: 0;
  border-right: 29px solid transparent;
  border-bottom: 50px solid red;
  border-left: 29px solid transparent;
}

#ground {
  height: 201px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(/css/imgs/ground.png);
}

#startGame {
  background-color: #222327;
  color: #7843e6;
  padding: 1rem 2rem;
  font-size: 2.3rem;
  font-family: "Bungee", sans-serif;
  display: inline;
}

.invisible {
  display: none;
}
